<div class="category-header">
  <h1><%= @category.category_name %></h1>
  
  <div class="actions">
    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', 
                category_path(@category), 
                method: :delete, 
                data: { 
                  turbo_method: :delete,
                  turbo_confirm: 'WARNING: This will permanently delete this category and ALL its tasks!' 
                }, 
                class: 'btn btn-danger' %>
  </div>
</div>

<div class="category-details">
  <h3>Description</h3>
  <p><%= @category.description.presence || 'No description provided' %></p>
</div>

<%= link_to 'Back to Categories', categories_path, class: 'btn btn-outline-primary' %>

